.button {
  display: flex;
  align-items: center;
  border: none;
  background: none;

  &__icon {
    &.medium {
      width: 15px;
      height: 15px;
    }
    &.small {
      width: 10px;
      height: 10px;
    }
  }

  &__text {
    &.medium {
      margin-left: 20px;

      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.15px;

      color: var(--color-grey);
    }
    &.small {
      margin-left: 10px;

      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.15px;

      color: var(--color-dark-grey);
    }
  }
}
