@mixin InputText {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15px;
  color: #c7c7c7;
}

.add-todo {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    width: 100%;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    outline: none;

    @include InputText;
    &::placeholder {
      @include InputText;
    }
  }

  &__buttons {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
