.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox {
  position: relative;
  cursor: pointer;

  &__input {
    display: none;

    &:checked ~ span {
      background: var(--color-light-green);
      border-color: var(--color-light-green);
      & > svg {
        visibility: visible;
      }
    }
  }

  &__span {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all linear 0.2s;

    & > svg {
      visibility: hidden;
      fill: var(--color-white);
      width: 10px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    user-select: none;

    margin-left: 15px;

    color: var(--color-black);
  }
}
