.todo-folder {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 40px;
  max-width: 95%;
  border-radius: 4px;
  cursor: pointer;

  &__description {
    display: flex;
    align-items: center;
    &__color {
      margin-left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    &__text {
      margin-left: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.15px;

      color: var(--color-black);
    }
  }

  &__delete-btn {
    width: 20px;
    height: 20px;
    display: none;
    margin-left: 10px;
  }
}

.todo-folder.active {
  @include FolderBg;

  .todo-folder__delete-btn {
    display: block;
  }
}
.todo-folder:hover {
  .todo-folder__delete-btn {
    display: block;
  }
}

@media (max-width: 800px) and(min-width:640px) {
  .todo-folder {
    &__description {
      &__text {
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 640px) {
  .todo-folder {
    &__description {
      &__text {
        font-size: 12px;
      }
    }
  }
}
