.todo-folder {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 40px;
  padding-left: 10px;
  max-width: 160px;
  margin-left: 20px;
  border-radius: 4px;
  cursor: pointer;

  &__description {
    display: flex;
    align-items: center;
    &__color {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #64c4ed;
    }

    &__text {
      margin-left: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.15px;

      color: var(--color-black);
    }
  }

  &__delete-btn {
    width: 20px;
    height: 20px;
    display: none;
  }
}

.todo-folder.active {
  @include FolderBg;

  .todo-folder__delete-btn {
    display: block;
  }
}
.todo-folder:hover {
  .todo-folder__delete-btn {
    display: block;
  }
}
