.folders {
  width: 25%;
  background: var(--color-light-blue);
  padding-left: 20px;

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--color-black);
    cursor: pointer;

    margin: 20px 0;
    display: flex;
    align-items: center;

    height: 40px;
    padding-left: 10px;
    max-width: 160px;
    border-radius: 4px;

    & > span {
      margin-left: 7px;
    }

    &.active {
      @include FolderBg;
    }
  }

  &__list {
    height: 60%;
    overflow-y: scroll;
  }

  &__add-btn {
    margin: 10px 0 20px -4px;
  }
}
