.todos-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
  background: var(--color-white);
  overflow-y: scroll;
  padding: 20px;
}

.todos {
  margin-bottom: 40px;
  &__title {
    display: flex;

    & > h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;

      margin-right: 15px;
    }

    & > img {
      cursor: pointer;
    }
  }

  &__line {
    background: #f2f2f2;
    height: 2px;
    margin: 20px 0;
  }
}
