.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 470px;
  padding: 10px 0;
  margin-bottom: 20px;

  &:hover > &__close {
    opacity: 1;
  }

  &__close {
    transition: 0.2s all;
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: 0;
  }
}
