/* Import mixins */
@import './mixins.scss';

/* Import views styles */
@import './views/Home.scss';

/* Import components styles */
@import './components/Button.scss';
@import './components/CheckBox.scss';
@import './components/FolderItem.scss';
@import './components/TodoItem.scss';
@import './components/Folders.scss';
@import './components/Todos.scss';
@import './components/AddTodo.scss';
@import './components/AddFolder.scss';
@import './components/TextField.scss';
@import './components/ColorSelect.scss';

/* Global css variables */
:root {
  --color-white: #fafafa;
  --color-black: #0a0a0a;
  --color-light-green: #4dd599;
  --color-light-grey: #e8e8e8;
  --color-grey: #b4b4b4;
  --color-dark-grey: #767676;
  --color-light-blue: #f4f6f8;
}

/* Global styles */

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: var(--color-light-grey);
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 60vw;
  height: 80vh;
}

.w100 {
  width: 100%;
}
